.aside-bar {
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.profile-section {
  text-align: center;
  margin: 20px 0;
}

.profile-section p {
  margin-top: 8px;
  font-weight: bold;
}

.logout-section {
  margin-top: auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 20px;
}

.main-content {
  flex: 1;
  width: 100%;
  display: flex;
  background-color: white;
}

/* .scrollbar {
  margin-right: 0px;
} */