.register-container {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.register-card {
  width: 400px;
  text-align: center;
}

.runner-icon {
  margin-right: 10px;
}

.bag-icon {
  margin-left: 10px;
}

.runner-icon,
.bag-icon {
  width: 50px;
  height: 50px;
}

.passwordTips{
  font-size: smaller;
  color: lightgray;
}